@charset "utf-8";
/* ========== contents - apply ========== */
.apply_page {
  padding: 2rem 0;
  overflow: hidden;
}
/* left con */
.apply_page .left_con {
  margin: 48px 0;
}
.apply_page .left_con .con_tit {
  line-height: 1.17;
  margin-bottom: 1.2rem;
}
.apply_page .left_con .con_txt {
  font-size: 0.95rem;
  line-height: 1.7;
  margin-bottom: 2.4rem;
}
/* right con */
.apply_page .right_con {
  position: relative;
  z-index: 5;
}
.apply_page .right_con .apply_box {
  padding: 2rem;
  border-radius: 8px;
  background-color: #27282f;
}
.apply_page .right_con .apply_box .apply_tit {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.6rem;
}
.apply_svg_left {
  width: 250px;
  height: 250px;
  left: 0;
  top: 0;
  transform: translate(-1.5rem, -3rem);
}
.apply_svg_right {
  width: 300px;
  height: 300px;
  right: 0;
  bottom: 0;
  transform: translate(2rem, 3.6rem);
}

/* ========== contents - apply modal ========== */
.apply_wrap {
  height: 90vh;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;
}
.apply_wrap .apply_inner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #fff;
}
.apply_wrap .apply_inner::-webkit-scrollbar {
  display: none;
}
.apply_wrap .apply_list_wrap,
.apply_wrap .apply_item {
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.apply_wrap .apply_list_wrap {
  position: relative;
}
.apply_wrap .apply_list,
.apply_wrap .apply_item .apply_item_con {
  height: 100%;
}
.apply_wrap .apply_list {
  overflow: auto;
}
.apply_wrap .apply_item .apply_item_con {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.apply_wrap .apply_item .apply_item_con .top_img {
  width: 100%;
  /* min-height: 370px; */
  max-height: 370px;
}
.apply_wrap .apply_item .apply_item_con .top_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 29% 62%;
}
.apply_wrap .apply_item .apply_item_con .apply_con {
  padding: 2.4rem 4rem;
}
.apply_wrap .apply_item .apply_item_con .apply_con .apply_tit {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.apply_wrap .apply_item .apply_item_con .apply_con > p {
  font-size: 1rem;
  color: #5a5a5a;
  margin-bottom: 1rem;
}
/* apply bottom nav */
.apply_wrap .apply_bottom {
  padding: 0.5rem;
  border-top: 1px solid #e5e5e5;
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  z-index: 20;
}
.apply_wrap .apply_bottom .apply_time {
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
}
.apply_wrap .apply_nav {
  width: 100%;
  background-color: transparent;
  border-top: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
/* button */
.apply_wrap .apply_bottom .apply_btn {
  font-weight: normal;
  font-size: 0.7rem;
}
.apply_wrap .apply_item .apply_press .apply_btn {
  font-size: 0.8rem;
  font-weight: 700;
}
.apply_wrap .apply_item .apply_press .apply_btn.btn-lg {
  font-size: 1.2rem;
}
.apply_wrap .apply_item .apply_item_con .apply_press .apply_btn > i {
  margin-left: 0.5rem;
}
.apply_wrap .btn-group .apply_btn:last-child {
  border-left: 1px solid #537cb2;
}

/* forms */
.apply_wrap .apply_item .apply_press .press_txt {
  font-size: 0.6rem;
  margin-left: 0.6rem;
}
.apply_wrap .apply_item .form-label {
  font-size: 1.2rem;
  position: relative;
}
.apply_wrap .apply_item .form-label .apply_num {
  font-size: 0.8rem;
  color: #0445af;
  position: absolute;
  top: 5px;
  left: -2rem;
}
.apply_wrap .apply_item .form-label .apply_num > i {
  font-size: 0.7em;
}
.apply_wrap .apply_item .form-control {
  padding: 0.4rem 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2a61bb;
  font-size: 1.5rem;
  color: #2a61bb;
}
.apply_wrap .apply_item .form-control:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #2a61bb;
}

/* ================================================== 
            media query 
================================================== */
@media only screen and (max-width: 991px) {
  .modal-content .btn-close {
    top: 15px;
    right: 15px;
  }
  .apply_wrap,
  .apply_wrap .apply_item {
    height: 100%;
  }
  .apply_wrap {
    border-radius: 0;
  }
  .apply_wrap .apply_item .apply_item_con .apply_con {
    padding: 1.4rem 3rem;
  }
}
