@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* ========== basic ========== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
textarea,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  color: inherit;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 20px;
}
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #000;
  color: #fff;
  /* overscroll-behavior: contain; */
}
ol,
ul,
dl,
dd,
dt,
li {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}
strong {
  font-weight: bold;
}
img {
  outline: none;
}

/* ========== contents layout & style ========== */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  max-width: 1140px;
}
.contents_wrap {
  min-height: calc(100vh - 179px);
  padding-top: 100px;
}
.center_box {
  width: 500px;
  padding: 2.5rem;
  background-color: #fff;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin: 5rem auto 0 auto;
}

/* ========== text ========== */
.txt_purple {
  color: #d656fe !important;
}
.txt_highlight {
  color: #00eaad !important;
}
.con_tit {
  font-size: 2rem;
  font-weight: bold;
}

/* ========== buttons ========== */
button,
.btn {
  font-size: 0.7rem;
  color: #fff;
  transition: all 0.2s;
}
button:hover,
button:focus,
.btn:hover,
.btn:focus {
  color: #fff;
  box-shadow: none;
}
.main_btn {
  padding: 0.6rem 1.25rem;
  background: linear-gradient(230deg, #c14ee5, #884ee5);
}
.main_btn:hover,
.main_btn:focus {
  transform: scale(1.05);
}
.apply_btn {
  background-color: #0445af;
}
.apply_btn:hover {
  background-color: #2a61bb;
}

/* ========== modal ========== */
.modal-dialog-scrollable .modal-content {
  color: #000;
  overflow: visible;
  position: relative;
}
.modal-content .btn-close {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 1;
  z-index: 99;
}
.modal-body {
  padding: 0;
}

/* ========== header & footer ========== */
.top_logo,
.foot_logo {
  height: 35px;
  margin-right: auto;
}
.top_logo img,
.foot_logo img {
  height: 100%;
  width: auto;
}
.gnb_list > li,
.fnb_list > li {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}
/* header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
header .container {
  height: 100px;
}
nav {
  position: relative;
  z-index: 20;
  transition: 0.3s;
}
.menu_btn {
  display: none;
}
nav .close_btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  display: none;
}
.gnb_list li .gnb_sub {
  position: absolute;
  display: none;
}
.gnb_list li:hover .gnb_sub {
  display: block;
}
.gnb_list li .gnb_sub li {
  opacity: 0.7;
}
.gnb_list li .gnb_sub li a:hover {
  text-decoration: underline;
}
/* fixed header */
.fix_header {
  position: fixed !important;
  transition: 0.2s height;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.fix_header .container {
  height: 80px;
  background-color: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* footer */
footer {
  padding: 2rem 0;
}
.fnb_wrap {
  margin-bottom: 2rem;
}
.fnb_list {
  justify-content: flex-end;
  flex-wrap: wrap;
}
.fnb_list li {
  opacity: 0.7;
}
.fnb_list li a:hover {
  text-decoration: underline;
}
.sns_list li {
  margin-right: 1rem;
  font-size: 0.8rem;
  opacity: 0.7;
}
.copyright {
  margin-left: auto;
  font-size: 0.7rem;
  opacity: 0.7;
}

/* ========== contents - svg ========== */
.dots_svg {
  position: absolute;
  z-index: -1;
  color: #5e22e6;
}

/* ========== contents - team ========== */
.person_wrap .person_item {
  margin-bottom: 3.6rem;
}
.person_wrap .person_item img {
  max-width: 100%;
  width: auto;
  margin-bottom: 1rem;
}
.person_wrap .person_item .person_info .person_name {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}
.person_wrap .person_item .person_info .person_position {
  font-size: 0.8rem;
  color: #00eaad;
}
.person_wrap .person_item .person_info .person_sns {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  display: inline-block;
}
.person_wrap .person_item .person_info .person_sns:hover {
  opacity: 0.7;
}
.person_wrap .person_item .person_info .person_sns.twitter {
  color: #00bbff;
}
.person_wrap .person_item .person_info .person_txt {
  font-size: 0.8rem;
  font-weight: 300;
}
/* page title */
.team_wrap .con_tit,
.faq_wrap .con_tit {
  color: #00eaad;
  text-align: center;
  padding: 4rem 0;
}
.advisors_wrap .con_tit {
  color: #d656fe;
  margin-bottom: 1.2rem;
}

/* ========== contents - FAQ ========== */
.faq_list {
  margin-bottom: 2.4rem;
}
.faq_list .faq_item .faq_tit {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.faq_list .faq_item .faq_txt {
  font-size: 0.8rem;
  opacity: 0.6;
}
.faq_list hr {
  margin: 1.6rem 0;
}
.faq_list a {
  color: #007bff;
}
.faq_list a:hover {
  color: #007bff;
  text-decoration: underline;
  opacity: 0.7;
}

/* ================================================== 
            media query 
================================================== */
@media only screen and (max-width: 991px) {
  /* ========== contents layout & style ========== */
  .container {
    max-width: 720px;
  }

  /* ========== header & footer ========== */
  /* header */
  .menu_btn,
  nav .close_btn {
    display: block;
  }
  nav {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  nav .gnb_list {
    width: 70%;
    min-width: 250px;
    height: 100%;
    padding: 1.5rem;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    left: -9999px;
    transition: 0.3s;
  }
  nav .gnb_list > li {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }
  nav .gnb_list li a {
    width: 100%;
    display: block;
  }
  nav .gnb_list li a.btn {
    width: auto;
    display: inline-block;
  }
  nav .gnb_list li .gnb_sub {
    position: static;
    display: block;
  }

  /* footer */
  .foot_logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .fnb_list {
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .foot_info {
    flex-direction: column;
  }
  .foot_info .copyright {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }
}
