@charset "utf-8";

/* ========== announcement ========== */
.announcement {
  padding: 0.8rem 0;
  background-color: #000;
}
.announcement h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.announcement p {
  font-size: 0.7rem;
  opacity: 0.9;
}

/* ========== contents ========== */
.main_page {
  padding-top: 0;
}
/* ========== section ========== */
section {
  padding: 4.2rem 0;
}
section .con_tit {
  line-height: 1.4;
  margin-bottom: 1rem;
}
.logos_wrap .logos_item {
  height: 150px;
  border: 1px solid #27282f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos_wrap .logos_item img {
  width: auto;
  max-width: 60%;
  max-height: 70%;
  margin: auto;
  filter: brightness(0) invert(1);
}

/* ========== main wrap ========== */
.main_wrap {
  padding-top: 100px;
  overflow: hidden;
  position: relative;
}
.video_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: scale(2.1);
  transform-origin: top;
}
.video_wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #000, transparent);
  z-index: 1;
}
.video_wrap video {
  width: 130%;
}
.main_wrap .container {
  position: relative;
  z-index: 2;
}
.main_wrap .main_top {
  padding: 3.2rem 0 4rem;
  margin: 0 auto;
}
.main_wrap .main_top .con_tit {
  line-height: 1.17;
}
.main_wrap .main_top .sns_list {
  margin-bottom: 1rem;
}
.main_wrap .main_top .sns_list li {
  font-size: 1.2rem;
}
.main_wrap .main_top .btn {
  border-radius: 0.5rem;
  transform: scale(1.15);
}
.main_wrap .main_top .btn:hover {
  transform: scale(1);
}
.main_wrap .powered_logo {
  max-width: 25%;
  margin: 0 auto;
  opacity: 0.8;
}
.main_wrap .powered_logo img {
  width: 100%;
  filter: brightness(0) invert(1);
}

/* ========== partners wrap ========== */
.partners_wrap {
  padding: 4.2rem 0;
}
.partners_wrap .logos_item {
  border: none;
}

/* ========== capital wrap ========== */
.capital_wrap .card {
  height: 100%;
  padding: 2.4rem 2.2rem 5rem;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgba(214, 86, 254, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}
.capital_wrap .card:hover {
  transform: translateY(-5px) scale(1.02);
}
.capital_wrap .card .card_tit {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.7rem;
  position: relative;
}
.capital_wrap .card .card_txt {
  font-size: 0.72rem;
  line-height: 1.53;
  margin-bottom: 4rem;
}
.capital_wrap .card .card_icon {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 2rem;
  bottom: 2.4rem;
}

/* ========== tiers wrap ========== */
.tiers_wrap {
  overflow: hidden;
}
.tiers_wrap .container {
  position: relative;
}
.tier_list .card {
  padding: 2rem;
  margin-bottom: 1.6rem;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tier_list .card .tier_num {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.tier_list .card .card_tit {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.tier_list .card .card_txt {
  font-size: 0.7rem;
  font-weight: 300;
}
.tier_list .card.tier_1 {
  border-color: #f1e6c9;
  background-image: url("../img/bg-moon.webp");
  box-shadow: 0 -35px 110px -30px #f1e6c9;
}
.tier_list .card.tier_1 .tier_num {
  color: #292929;
}
.tier_list .card.tier_2 {
  border-color: #00baff;
  background-image: url("../img/bg-planet.webp");
  box-shadow: 0 -35px 110px -30px #00baff;
}
.tier_list .card.tier_2 .tier_num {
  color: #00e2ff;
}
.tier_list .card.tier_3 {
  border-color: #ff6e00;
  background-image: url("../img/bg-giant.webp");
  box-shadow: 0 -35px 110px -30px #ff6e00;
}
.tier_list .card.tier_3 .tier_num {
  color: #ff8600;
}
.tier_list .card.tier_4 {
  border-color: #8564ed;
  background-image: url("../img/bg-nova.webp");
  box-shadow: 0 -35px 110px -30px #8564ed;
}
.tier_list .card.tier_4 .tier_num {
  color: #dbd847;
}
.tiers_svg_left {
  width: 250px;
  height: 100px;
  top: 0;
  left: 0;
  transform: translate(-12rem, 2rem) rotate(90deg);
}
.tiers_svg_right {
  width: 250px;
  height: 100px;
  bottom: 0;
  right: 0;
  transform: translate(10rem, -8rem) rotate(90deg);
}

/* ================================================== 
            media query 
================================================== */
@media only screen and (max-width: 991px) {
  .premier_header {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .video_wrap {
    transform: scale(5.5);
  }
}
